<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!--http://maven.apache.org/ref/3.5.0/maven-settings/settings.html-->

    <servers>
        <!--only for temp migration start-->
        <server>
            <id>meituan-nexus-releases</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
        <server>
            <id>meituan-nexus-snapshots</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
        <!--only for temp migration end-->
        <server>
            <id>meituan-dianping-server-id</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
        <server>
            <configuration>
                <httpConfiguration>
                    <all>
                        <connectionTimeout>5000</connectionTimeout>
                        <readTimeout>10000</readTimeout>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>meituan-dianping</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <meituan-dianping.release.url>http://pixel.sankuai.com/repository/group-releases
                </meituan-dianping.release.url>
                <meituan-dianping.snapshot.url>http://pixel.sankuai.com/repository/group-snapshots
                </meituan-dianping.snapshot.url>
                <!--only for temp migration start-->
                <repo.internal.snapshots.url>http://pixel.sankuai.com/repository/dianping-snapshots
                </repo.internal.snapshots.url>
                <repo.internal.releases.url>http://pixel.sankuai.com/repository/dianping-releases
                </repo.internal.releases.url>
                <repo.external.url>http://pixel.sankuai.com/repository/third-party</repo.external.url>
                <repo.proxy.url>http://pixel.sankuai.com/repository/dprepo</repo.proxy.url>
                <meituan.release.url>http://pixel.sankuai.com/repository/releases</meituan.release.url>
                <meituan.snapshot.url>http://pixel.sankuai.com/repository/snapshots</meituan.snapshot.url>
                <!--only for temp migration end-->
            </properties>
            <repositories>
                <repository>
                    <id>meituan-dianping-releases</id>
                    <name>Repository for releases artifacts</name>
                    <url>http://pixel.sankuai.com/repository/group-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>meituan-dianping-snapshots</id>
                    <name>Repository for snapshots artifacts</name>
                    <url>http://pixel.sankuai.com/repository/group-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>meituan-dianping-releases-plugin</id>
                    <name>Repository for plugin releases artifacts</name>
                    <url>http://pixel.sankuai.com/repository/group-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>meituan-dianping-snapshots-plugin</id>
                    <name>Repository for plugin snapshots artifacts</name>
                    <url>http://pixel.sankuai.com/repository/group-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.unidal.maven.plugins</pluginGroup>
        <pluginGroup>com.dianping.maven.plugins</pluginGroup>
        <pluginGroup>org.jvnet.hudson.tools</pluginGroup>
    </pluginGroups>

    <activeProfiles>
        <activeProfile>meituan-dianping</activeProfile>
    </activeProfiles>
    <mirrors>
        <mirror>
            <id>meituan-dianping</id>
            <name>meituan-dianping mirror</name>
            <url>http://pixel.sankuai.com/repository/mtdp</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
